.iconContainer {
    height: var(--size);
    width: var(--size);
display:flex;
    align-items:center;

    &>.icon {
        height: 100%;
        width: 100%;
        color:var(--color);
        &:hover{
            cursor:pointer;
        }
        &:active{
            transform:translate(-1px,1px);
        }
    }
}
