@import '../globalStyles.scss';

footer {
    height: $footerHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:$medium) {
    footer {
        display: none;
    }
}