button {
    height: var(--size);
    min-width: calc(3 * var(--size));
    padding: 3px 6px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    display:flex;
    align-items:center;
    outline:none;

    &>.buttonIcon{
        width:20%;
    }

    &>p{
        flex-grow:1;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: translate(-1px, 1px);
    }

    &:focus {
        outline: none;
    }
}
