button {
    height: var(--size);
    min-width: calc(3 * var(--size));
    padding: 3px 6px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: translate(2px, 2px);
    }

    &:focus {
        outline: none;
    }
}